<!-- Start Section Footer -->
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="logo col-md-5 col-sm-12">
        <img src="../../assets/images/xlogo2_footer.png.pagespeed.ic.cCsaeuZ2I0.webp" alt="">
        <p>The information is also part of the MF Rural, where you can find news, quotes, technological information and others, in addition.</p>
        <div class="icon">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
      </div>
      <div class="links col-md-3 col-sm-12">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">Design & creatives</a></li>
          <li><a href="#">Telecommunication</a></li>
          <li><a href="#">Restaurant</a></li>
          <li><a href="#">Programing</a></li>
          <li><a href="#">Architecture</a></li>
        </ul>
      </div>
      <div class="links col-md-3 col-sm-12">
        <h4>Company</h4>
        <ul>
          <li><a href="#">Design & creatives</a></li>
          <li><a href="#">Telecommunication</a></li>
          <li><a href="#">Restaurant</a></li>
          <li><a href="#">Programing</a></li>
          <li><a href="#">Architecture</a></li>
        </ul>
      </div>
    </div>
    <p class="text-center mt-5">Copyright ©2021 All rights reserved | This template is made with
     <span> <i class="fas fa-heart"></i> by Mohamed Ibrahim Abdulghani</span></p>
  </div>
</section>
<!-- Start Section Footer -->
