<!-- Start Section About -->
<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="animate__animated animate__fadeInLeftBig image col-lg-6 col-md-12">
        <img class="img-fluid" src="../../assets/images/xabout1.png.pagespeed.ic.zZw0_NVw1e.webp" alt="about-image">
      </div>
      <div class="animate__animated animate__fadeInRight info col-lg-6 col-md-12">
        <h2>20+ years agricultural cooperative</h2>
        <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes! The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
        <button class="btn btn-success left_to_right"> <a>More About Us</a><i class="fas fa-phone-alt"></i> </button>
      </div>
    </div>
  </div>
</section>
<!-- End Section About -->
