<!-- Start Section Service -->
<section class="service" id="service">
  <div class="container-fluid">
    <div class="row">
      <h1>Services we provide</h1>
        <div class="animate__animated animate__fadeInLeftBig animate__delay-1s  image col-lg-3 col-md-6" >
          <img class="img-fluid" src="../../assets/images/xservices1.png.pagespeed.ic.n0sDhSf--l.webp" alt="service-image1">
        </div>
        <div class="animate__animated animate__fadeInLeftBig animate__delay-1s field  col-lg-3 col-md-6">
          <span>01</span>
          <h2>Field Ready</h2>
          <p>Technological information and others, in addition to information about companies in the sector, list of any and all companies related to agribusiness.</p>
          <button class="btn btn-success left_to_right"><a>Get the Service</a></button>
        </div>
        <div class="animate__animated animate__fadeInLeftBig animate__delay-2s image col-lg-3 col-md-6">
          <img class="img-fluid" src="../../assets/images/xservices2.png.pagespeed.ic.NXjSYgXZe9.webp" alt="service-image1">
        </div>
        <div class="animate__animated animate__fadeInLeftBig animate__delay-2s field  col-lg-3 col-md-6">
          <span>02</span>
          <h2>Transportation</h2>
          <p>Technological information and others, in addition to information about companies in the sector, list of any and all companies related to agribusiness.</p>
          <button class="btn btn-success left_to_right"><a>Get the Service</a></button>
        </div>
    </div>
  </div>
</section>
<!-- End Section Service -->

<!-- Start Section Counter -->
<section class="counter">
  <div class="container-fluid">
    <div class="row">
      <div class="number col-lg-3 col-md-6">
        <span>{{numofplus}}+</span>
        <p>List of any and all companies related to agribusiness.</p>
      </div>
      <div class="number col-lg-3 col-md-6">
        <span>{{numofk}}K</span>
        <p>List of any and all companies related to agribusiness.</p>
      </div>
      <div class="number col-lg-3 col-md-6">
        <span>{{numofplus2}}+</span>
        <p>List of any and all companies related to agribusiness.</p>
      </div>
      <div class="number col-lg-3 col-md-6">
        <span>{{numbers}}+</span>
        <p>List of any and all companies related to agribusiness.</p>
      </div>
    <hr>
    </div>
  </div>
</section>
<!-- End Section Counter -->
<!-- Start Section Blog -->
<section class="blog">
  <div class="container">
    <div class="row">
      <div class="info col-lg-6 col-md-12">
        <h1>Why you should choose us</h1>
        <p>Technological information and others, in addition to information about companies in the sector, list of any and all companies related to agribusiness.</p>
        <div class="icon">
          <i class="far fa-life-ring"></i>
          <p>Technological information and others, in addition to information about companies.</p>
        </div>
        <div class="icon">
          <i class="far fa-life-ring"></i>
          <p>Technological information and others, in addition to information about companies.</p>
        </div>
        <div class="icon">
          <i class="far fa-life-ring"></i>
          <p>Technological information and others, in addition to information about companies.</p>
        </div>
        <button class="btn btn-success left_to_right"><i class="fas fa-phone-alt"></i><a> (+20)01201985005</a></button>
      </div>
      <div class="image col-lg-6 col-md-12">
        <div class="choose-us">
          <img class="img-fluid" src="../../assets/images/xabout2.png.pagespeed.ic.dO1c9gIEYl.webp" alt="">
          <div class="icon">
            <div class="icon-plant">
              <i class="fab fa-pagelines"></i>
              <p>Best Plants</p>
            </div>
            <div class="icon-plant">
              <i class="fas fa-tractor"></i>
              <p>Award Wining</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section Blog -->
