<!-- Start Section Contact  -->
<section class="contact" id="contact">
  <div class="row">
    <div class="col-lg-6">
      <div class="info animate__animated animate__fadeInLeft" >
        <h1>Need any help?</h1>
        <p>The information is also part of the MF Rural, where you can find news, quotes, technological information and others, in addition.</p>
        <ul>
          <li><i class="fas fa-phone"></i>(+2)01201985005</li>
          <li><i class="fas fa-envelope"></i>moibrahim@gmail.com</li>
          <li><i class="fas fa-map-marker-alt"></i>Zagazig - Diarb_Negm</li>
        </ul>
        <button class="btn btn-success top_to_bottom">
          <a>Drop Your Message</a>
        </button>
      </div>
      <!-- <div class="text-center"> -->

      <!-- </div> -->
    </div>
    <div class="col-lg-6">
      <div class="image animate__animated animate__fadeInRight">
        <img src="../../assets/images/xabout3.png.pagespeed.ic.Sqjkz1R6Yd.webp" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End Section Contact  -->
