
<!-- Start Video -->
<section class="video" id="blog">
  <!-- Button trigger modal -->
<button type="button" class="btn video" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fas fa-play"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/up68UAfH0d0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
</section>
<!-- End Video -->


<!-- Start Section Tips -->
<section class="tips">
  <h1>Tips from experts</h1>
  <div class="container">
    <div class="row">
      <div class="info1 animate__animated animate__fadeInLeft">
        <div class="row">
          <div class="image col-lg-4 col-md-6 col-sm-12">
            <img src="../../assets/images/xservices3.png.pagespeed.ic.vKXpVhOE8o.webp"  alt="">
          </div>
          <div class="about col-lg-8 col-md-6 col-sm-12">
            <h2>20+ years agricultural cooperative</h2>
            <p>The information is also part of the MF Rural, where you can find news, quotes, technological information and others, in addition to information about companies in the sector, list of any and all companies related to agribusiness, just access the Rural List section.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="info2 animate__animated animate__fadeInRight">
        <div class="row">
          <div class="image col-lg-4 col-md-6 col-sm-12">
            <img src="../../assets/images/xservices4.png.pagespeed.ic.8OzaubvoA5.webp" alt="">
          </div>
          <div class="about col-lg-8 col-md-6 col-sm-12">
            <h2>20+ years agricultural cooperative</h2>
            <p>The information is also part of the MF Rural, where you can find news, quotes, technological information and others, in addition to information about companies in the sector, list of any and all companies related to agribusiness, just access the Rural List section.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-5">
    <button class="btn btn-success top_to_bottom">
      <a>More Tips</a>
    </button>
  </div>
</section>
<!-- End Section Tips -->
